@import url('https://fonts.googleapis.com/css?family=Muli');
body,
html {
  height: 100%;
  background: rgb(40, 42, 54);
}

.demo {
  height: 100vh;
  width: 100wv;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Muli;
  font-size: 14px;
  letter-spacing: 0.4px;
  line-height: 18px;
  color: white;
}

h1 {
  line-height: inherit;
  margin-top: -10px;
  padding-bottom: 18px;
}

.quiz {
  display: flex;
  flex-direction: column;
  padding: 30px;
  box-sizing: border-box;

  width: 710px;
  height: 365px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-image: linear-gradient(to bottom, rgba(247, 123, 64, 0.99), rgba(247, 59, 28, 0.69));
  box-shadow: 0 2px 12px 12px rgb(35, 36, 53);
}
