/*  Switch -> The container

    *------------------------*
    |                        |
    |                        |
    *------------------------*
*/

$switch_width: 100%;
$switch_height: 100%;
$switch_min_height: 45px;
$switch_margin: 10px;
$switch_border_radius: 100px;
$switch_border_color: white;

/*  Item -> Every Item inside the container 

    *------*-----------------*
    | Item |                 |
    |      |                 |
    *------*-----------------*
*/

$item_width: 100%;
$item_height: 100%;
$item_padding: 15px;
$item_color: inherit;
$item_fontFamily: inherit;
$item_letter_spacing: inherit;
$item_font_weight: bold;
$item_color_hover: darken(white, 10%);
$item_background: transparent;

// On Active:
$item_color_onActive: #901e06;

/*   Overlay -> The layer that covers every item when item is active.

    *------*-----------------*
    | On   |                 |
    |      |                 |
    *------*-----------------*
*/

$overlay_height: 100%;
$overlay_background_color: rgba(249, 249, 249, 0.5);
$overlay_border_radius: $switch_border_radius;
$overlay_box_shadow: 0 0 6px 1px #e66549;
$overlay_transition: all 0.4s ease;

// On Active:

// State modifiers

$switch_disable_opacity: 0.3;
$item_disable_opacity: 0.3;

