@import 'Global';
.abg-switch__state {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: $state_letter_spacing;
  cursor: pointer;
  width: $state_width;
  height: $state_height;
  padding: $state_padding;
  font-weight: $state_font_weight;
  background: $state_background;
  overflow: visible;
  color: inherit;
  font: inherit;
  border: none;
  &:not(.switch__state--disable):hover {
    color: $state_color_hover;
  }
}

.abg-switch__state--on {
  z-index: 2;
  color: $state_color_onActive !important;
  font-weight: bold;
}

.abg-switch__state--disable {}
